@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  font-family: 'Bitter', serif;

  overflow: hidden;
}

.animate-down {
  animation: down;
  animation-timing-function: ease-in-out;
}

@keyframes down {
 0% {
  transform: translateY(-150%)
 } 
 100% {
  transform: translateY(0);
 }
}


.transition-width {
  transition: width 500ms linear, flex-grow 500ms linear, flex-shrink 500ms linear;
}

::-webkit-scrollbar {
  display: none;
}